<nav>
  <ul>
    <li><strong>Dummy</strong></li>
  </ul>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/tags">Tags</a></li>
    <li><a href="/contact">Contact us</a></li>
  </ul>
</nav>
